<footer class="prose dark:prose-invert my-8">
  <hr />
  <div class="mt-4">
    <a rel="noopener nofollow noreferrer" target="_blank" href="https://keybase.io/jacobyoung">@keybase</a>
    <a rel="noopener nofollow noreferrer" target="_blank" href="https://github.com/jryio">@github</a>
    <a rel="noopener nofollow noreferrer" target="_blank" href="https://linkedin.com/in/jryio">@linkedin</a>
  </div>
  <div class="mt-4">
    <div class="rc-scout"> </div>
    <script async defer src="https://www.recurse-scout.com/loader.js?t=2a703ef8913651608faba2b5ddaca6d1"></script>
  </div>
</footer>
