html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#game-container {
  display: grid;
  grid-template: repeat(auto-fit, 150px) / repeat(auto-fit, 150px);
  grid-gap: 10px;

  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */
  height: 100%;
  width: 100%;
}

.image {
  overflow: hidden;
}

.image-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 150px;
  width: 150px;
  border: 1px solid black;
  box-sizing: border-box;
}

.image-selected {
  border: 4px solid purple;
  filter: brightness(0.5);
}

.image-correct {
  border: 4px solid green !important;
}
