<!DOCTYPE html>
<html lang="en" class="dark">

{% include "partials/head.html" %}

<body class="bg-orange-50/75 dark:bg-dark">
  <div class="mx-4 md:max-w-4xl lg:max-w-4xl lg:ml-auto lg:mr-auto">
    <!-- ====== -->
    <!-- NAVBAR -->
    <!-- ====== -->
    {% include "partials/navbar.html" %}

    <main class="flex flex-col min-h-full">
      <!-- ======= -->
      <!-- CONTENT -->
      <!-- ======= -->

      <div class="prose prose-neutral dark:prose-invert">
        {% block content %}
        {% endblock content %}
      </div>
    </main>

    <!-- ======= -->
    <!-- Footer -->
    <!-- ======= -->
    {% include "partials/footer.html" %}

  </div>
</body>

</html>
