{% extends "section.html" %}

{% block description %}
<p>
  👋 Welcome to my <a href="https://maggieappleton.com/garden-history">Digital Garden</a>.
</p>
<p>
  A Digital Garden is a collection of ideas which are deeply inter-linked, and (importantly) <i>backlinked</i>.
  This means that if a note in the garden has any references pointing to it, they will apear at the bottom of
  the page under "<i>Backlinks</i>". This exposes how ideas are connected.
</p>
<p>
  Feel free to peruse around the garden. If you would like a guide to the garden
  start with <a href="/garden/guide">The Guide</a>.
</p>
<p>

  🌳 <u>Section</u>: A collection of notes of different types
  <br />
  🌲 <u>Evergreen</u>: Long-lived notes which evolve over time and represent active
  thought and reading
  <br />
  🪴 <u>Potted</u>: An established idea, ripe for growth
  <br />
  🌱 <u>Seedling</u>: Often empty, they have not emerged into fully formed ideas
</p>
{% endblock description %}
