{% import "macros/page_date.html" as macros %}
{% extends "base.html" %}

{% block content %}
<article>
<h1>
  {{ page.title | safe | title }}
</h1>

{% set note_type = page.extra | get(key="note_type", default="") %}
{{ macros::page_date(published=page.date, updated=page.updated, note_type=note_type) }}

  {{ page.content | safe }}
</article>

{% if page.backlinks %}
  <hr/>
  <h5>Backlinks</h5>
  <ul>
  {% for backlink in page.backlinks %}
    <li>
      <a href="{{ backlink.permalink}}">{{backlink.title}}</a>
    </li>
  {% endfor %}
  </ul>
{% endif %}

{% endblock content %}
