{% extends "base.html" %}

{% block content %}
<h1>
  {{ section.title | safe | title }}
</h1>

{% block description %}
{% endblock description %}

{% for sec_path in section.subsections %}

  {% set section = get_section(path=sec_path) %}
  <h3>
    <a href={{section.path}}>
      {{ section.title | safe | title }}
    </a>
  </h3>
{% endfor %}

{% if section.subsections | length > 0 and section.pages | length > 0 %}
<hr class="mt-8" />
{% endif %}

{% for page in section.pages %}
<h3>
  <a href={{page.path}}>
    {{ page.title | safe | title }}
  </a>
</h3>
{% endfor %}

{{ section.content | safe }}
{% endblock content %}
